.container {
    max-width: 960px;
    margin: auto;
}

#site-title {
    color: white
    
    
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-size: cover;
}


header {
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        font-size: 40px;
        border-radius: 100%;
        margin: 20px;
        text-align: center;
        font-family: 'Gayathri', sans-serif;
        border-style: dotted;
        color:grey;
        filter: drop-shadow(20px 15px 6px #8a795d);
}

h2 {
    color: purple;
    font-family: 'Gayathri', sans-serif;
}

main{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    margin: 20px;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    border-style: double;
    filter: drop-shadow(20px 15px 6px #8a795d);
}

.top {
    text-align: center;
    list-style-position: inside;
    font-family: 'Gayathri', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: solid white thick;
    filter: drop-shadow(20px 15px 6px #8a795d);
}


.boxes {
    max-width: 960px;
    text-align: center;
}

.box {
    display: inline-block;
    list-style-position: inside;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: solid thick white;
    height: 150px;
    width: 200px;
    filter: drop-shadow(20px 15px 6px #8a795d);
    margin: 30px auto;
}

footer {
    text-align: center;
    border-style: solid;
}
